$breakpoints: (
	'xs-phone': 480px,
	'phone': 768px,
	'tablet': 1024px,
	'desktop': 1200px,
	'widescreen': 1330px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/functions';
@import 'base/variables';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';
@import 'base/fonts';

*{
	position:relative;
	box-sizing:border-box;
}
section#view{
	height:100vh;
	width:100vw;
}
address{
	font-style:normal;
}
#htc_map{
	height:100%;
	width:100%;
}
.buttonContainer{
	position: absolute;
	padding:10px 20px;
	bottom:15px;
	right:15px;
	z-index:1000;
	display:flex;
	justify-content:flex-end;
	align-items:center;
	width:100%;
	> div{
		background:#60a0ce;
		border:1px solid #a6cae4;
		color:white;
		padding:10px 20px;
		margin:0 5px;
		cursor:pointer;
		&:hover{
			background:#a6cae4;
			border:1px solid #60a0ce;
			color:#24577b;
		}
	}
}
.leaflet-popup{
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1.5px;
	font-size: 15px;
	.leaflet-popup-content-wrapper{
		padding: 10px 20px;
		.leaflet-popup-content{
			padding: 10px 0px;
			margin: 5px;
			border-radius: 10px;
			color: black;
			text-align: center;
		}
	}
}
